*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --background_color: #2F4F4F;
    --text_color: #FFFFFF;
    --background_color_menu: hsla(0, 0%, 0%, 0.8);
    --text_color_menu: #800080;

}

body{
    background-color: var(--background_color);
    color: var(--text_color);
}

a{
    text-decoration: none;
    color: var(--text_color_menu);
}

h1{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    text-align: center;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background_color_menu);
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    text-transform: uppercase;
}

.nav_item{
    padding: 25px; 
}

.nav_item:last-child{
    margin-inline-end: 0;
}

.main{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-block-start: 25px;
}

.menues{
    display: grid;
    place-items: center;
}

.space_nav{
    padding-block-start: 50px;
}

.carta{
    display: flex;
    gap: 1rem;
    max-width: 100rem;
}

.card_menu{
    position: relative;
    left: 0;
    width: 6rem;
    border-radius: 1.2rem;
    height: 20rem;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
}

.card_menu img{
    position: relative;
    height: 20rem;
    object-fit: cover;
}

.card_menu:hover{
    flex: 2;
    cursor: pointer;
    border-radius: 1rem;
}

.comensal{
    font-size: 1.25rem;
}

.direction{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
}

.horario{
    text-align: center;
}

.redes{
    display: flex;
    list-style: none;
    justify-content: end;
}

.description{
    display: flex;
    justify-content: space-evenly;
}


.description_us{
    font-size: 1.25em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    max-width: 650px;
    text-align: center;
    padding: 20px;
}