*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --background_color: rgb(23, 23, 23);
    --text_color: silver;
    --background_color_menu: black;
    --text_color_menu: LightSalmon;

}

body{
    background-color: var(--background_color);
    color: var(--text_color);
}

h1{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}

.nav{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--background_color_menu);
    color: var(--text_color_menu);
}

.nav_item{
    padding: 25px;
}

.main{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-block-start: 25px;
}

.menues{
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

.carta{
    margin-inline-start: 12px;
    margin-inline-end: 12px;
}

.comensal{
    font-size: 1.25rem;
}

.direction{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
}

.horario{
    text-align: center;
}

.redes{
    display: flex;
    list-style: none;
    justify-content: end;
}