body{
    background-image: url(img/schnitzel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* media query */
@media (max-width: 550px){
    h1{
        font-size: 2rem;
    }

    .review{
        padding: 10px;
    }

    .nav_menu_footer{
        padding: 10px;
    }

    body{
        background-position: 50%;
    }
}

@media (max-width: 450px){
    .menu_time_plate{
        max-width: 100px;
        font-size: 0.75em;
    }

    .menu_time_plate_description{
        font-size: 1.25rem;
    }
}
