*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --text_color: hsl(0, 0%, 100%);
    --background_color_menu: hsla(0, 0%, 0%, 0.95);
    --text_color_menu: hsl(300, 100%, 25%);
}

.review{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.comensal{
    font-size: 1.25rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    max-width: 800px;
    text-align: justify;
}


.food{
    font-size: 2rem;
    background-image: linear-gradient(to bottom, transparent, var(--background_color_menu));
}

.menu{
    font-size: 1em;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

.menu_time{
    display: flex;
    justify-content: space-evenly;
}

.menu_time_plate{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    min-width: 300px;
}

.menu_time_plate_description{
    font-size: .75em;
    text-align: justify;
    width: 500px;
}

.nav_menu{
    display: flex;
    background-color: var(--background_color_menu);
    justify-content: space-between;
}

.nav_menu_footer{
    list-style: none;
    padding: 20px;
}

.nav_menu_footer_item{
    font-size: 1.5rem;
}

.nav_menu_footer_item :hover{
    color: var(--text_color);
}

footer{
    background-color: var(--background_color_menu);
}