* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
  background-image: linear-gradient(transparent, black);
  z-index: 1;
}

section{
  color: aquamarine;
}

img{
  /* height: 100%;
  width: 100%; */
  z-index: -5;
}