* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Estilos para el formulario de reserva */
#reserva-form {
  max-width: 400px;
  margin: 0 auto;
}

#reserva-form label {
  display: block;
  margin-bottom: 10px;
}

#reserva-form input[type="text"],
#reserva-form input[type="email"],
#reserva-form input[type="date"],
#reserva-form input[type="time"],
#reserva-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

#reserva-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
