* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  background-color: #6d4545a8;
}

h1{
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-align: center;
}

.background{
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  background-image: url(img/WNlI.gif);

  /* animation: animar-texto 40s ease-in-out infinite; */

  background-position: right bottom;

}

@keyframes animar-texto {
  0%{
    background-position: right top;
  }
  /* 25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }    */
  100%{
      background-color: left bottom;
  }
}